@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


@font-face {
      font-family: "Playfair Display", serif;
    src: url(Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Sail";
    src: url("Sail/Sail-Regular.ttf") format("truetype");
}
/* @import url('https://fonts.googleapis.com/css2?family=Sail&display=swap'); */




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f8f2e7;
    background-image: url(images/background.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.banner{
    width:100%;
    margin-bottom:40px;
}

.banner img{
    width:100%;
    height:380px;
    object-fit:cover;
    border-radius:20px;
    display:block;
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.h1{
      font-family: "Source Serif 4";
font-size: 64px;
 text-align:center;
    color:#5c3317;
    margin-bottom:10px;
}

.paragraph{
    font-family: "Sail";
    font-size: 32px;
     text-align:center;
    color:#777;
    margin-bottom:30px;
}

.cards{
    display:flex;
    justify-content:space-between;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:220px;
    background:white;
    border-radius:20px;
    padding:30px;
    text-align:center;
    background:rgba(255,255,255,.55);
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    margin-bottom: 25px;
}

.card:hover{

                     transform: scaleX(1.2);
transform: scaleY(0.9);
    transition: 1.5s;
 box-shadow:0 15px 35px rgba(174, 76, 6, 0.18);
  background:rgba(210, 189, 105, 0.55);
 cursor: pointer;             
}


.search{

    max-width:500px;

    margin:0 auto;

   align-items: center;

}

.search input{
display:block;
    width:100%;

    padding:16px 55px 16px 20px;

    border:none;

    outline:none;

    border-radius:40px;

    background:#FFF;

    font-size:28px;

    color:#4E342E;

    box-shadow:0 12px 25px rgba(0,0,0,.08);

    transition:.3s;
      font-family: "Source Serif 4";


}

.search input:hover{
 background:rgba(210, 189, 105, 0.55);

    box-shadow:0 15px 35px rgba(174, 76, 6, 0.18);
cursor: pointer;
   transform: scaleX(1.2);

    transition: 1.5s;
}

.search input::after{
content: ☕;

}
/* 
input img{
    height: 25px;
    width: 25px;
} */

.main{
    width:83%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    border:3px ridge #8b5a2b;
    opacity: 0.8;
    
}


/* 
p{
   
} */

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#6f4e37;
    color:white;
    padding:15px;
}

tr{
    font-size: 20px;
}

td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #ddd;
}
th:hover{
    background:#8b5a2b;
    cursor: grab;
}
tr:nth-child(even){
    background:#f9f4ef;
}

tr:hover{
    background:#f4e4d4;
    cursor: crosshair;
}

td:first-child{
    font-weight:bold;
    color:#5c3317;
    position:relative;
}



.dark{
    display:inline-block;
    background:#6f4e37;
    color:white;
    padding:5px 12px;
    border-radius:20px;
    transition:0.6s;
}

.mid{
    background:#c49a6c;
    color:white;
    padding:5px 12px;
    border-radius:20px;
     display:inline-block;
      transition:0.6s;
}

.light{
    background:#ead7c0;
    color:#5c3317;
    padding:5px 12px;
    border-radius:20px;
      display:inline-block;
      transition:0.6s;
}

.dark:hover{
    transform:scale(1.15);
    background:#4b2f1f;
    box-shadow:0 8px 18px rgba(0,0,0,.25);
    cursor:url(images/cursor-spark.png), auto;
    
}

.mid:hover{
transform:scale(1.15);
 background:#ab8a67;
     box-shadow:0 8px 18px rgba(0,0,0,.25);
    cursor:pointer;  cursor:url(images/cursor-moon.png), auto;
}

.light:hover{
    transform:scale(1.15);
    background:#e0be95;
    box-shadow:0 8px 18px rgba(0,0,0,.25);
    cursor:url(images/icon-star.png), auto;
}

td:last-child{
    color:#d4a017;
    font-size:18px;
}

td:last-child:hover{
transform: scale(1.3);
    transition: 1s;
    cursor: url(images/cursor-heart.png), auto;
}

h3{
    text-align:center;
    margin-top:30px;
    color:#5c3317;
  align-items: center    ;
    
}

.h3:hover{
    transform: scale(1.3);
    transition: 1s;
    cursor: url(images/cursor.png), auto;
}


.main::before{
    content:"Coffee House";
    display:block;
    text-align:center;
    font-size:18px;
    color:#8b5a2b;
    margin-bottom:15px;
}

.main1{
    content:"Thank You For Visiting!";
    display:block;
    text-align:center;
    margin-top:25px;
    color:#8b5a2b;
    font-weight:bold;
}
marquee{
        display:block;
    text-align:center;
    margin-top:25px;
    color:#8b5a2b;
    font-weight:bold;
    width: 1000px;
     font-family: "Source Serif 4";
     font-size: 24px;
}




